
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .project_heading {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
 
</head>
<body>
    <h1 class="project_heading">STUDENT MANAGEMENT SYSTEM</h1>
    <div class="row">

        <div >
            @Html.Action("Login")
        </div>
    </div>

</body>
